.team-member {
    width: 100%;
    max-width: none;
}

.team-member-content {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.team-member-image-wrapper {
    height: 343px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-member-image {
    /* width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; */

    border-radius: 50%;
    height: 200px !important;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: top;
    width: 200px !important;
    filter: grayscale(100%);
    position: relative;
}

.team-member-content:hover .team-member-image {
    border-radius: unset;
    height: 100% !important;
    width: 100% !important;
    filter: unset;
    object-position: unset;
    transition: 1s ease;
}

/* .team-member-content:hover .team-member-image-wrapper {
    margin-bottom: 50px;
} */

.team-member-content:hover .team-member-name,
.team-member-content:hover .team-member-designation {
    color: #fff;
}


.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-name {
    color: #15354d;
}
.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-designation
{
    color: #445766;
}

/* .block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-content:hover .team-member-name {
    color: #fff;
}
.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-content:hover .team-member-designation
{
    color: #fff;
} */

.team-member-image-wrapper::before {
    content: '';
    background-image: url("../../../static/team_circle.svg");
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: none;
}

.team-member-content:hover .team-member-image-wrapper::before {
    display: block;
}

.team-member-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    bottom: 42px;
    left: 28px;
}

.team-member-content:hover .team-member-image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 0; */
    height: 100%;
    background-image: url("../../../static/team-image-shadow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* z-index: 3; */
    pointer-events: none;
    /* border-radius: 50%; */
    transition: 1s ease;

}

/* .team-member-content:hover .team-member-image-wrapper::after {
    height: 100%;
    transition: 1s ease;
} */

.team-member-content:hover .team-member-info {
    z-index: 2;
}

.team-member-content:hover .team-member-arrow {
    z-index: 3;
}

.team-member-upload-button {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
    background-color: #f0f0f0 !important;
    border: 2px dashed #757575 !important;
    position: relative !important;
    cursor: pointer !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: all 0.2s ease !important;
}

/* Show the button text and style it */
.team-member-upload-button span {
    display: block !important;
    font-size: 14px;
    line-height: 1.2;
    color: #757575;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.team-member-upload-button::before {
    display: none;
}

.team-member-upload-button:hover {
    background-color: #e0e0e0 !important;
    border-color: #555 !important;
}

.team-member-image-container {
    position: relative;
}

.team-member-image-buttons {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(-50%); */
    display: flex;
    gap: 4px;
    margin-top: 8px;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.team-member-image-container:hover .team-member-image-buttons {
    opacity: 1;
}

.team-member-name {
    margin: 0px !important;
    color: #15354D;
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.team-member-designation {
    margin: 0px !important;
    color: #445766;
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.wp-block-verdure-team-member {
    width: calc(25% - 23px) !important;
    min-width: 250px !important;
    margin: 0 0 20px 0 !important;
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .wp-block-verdure-team-member {
        width: calc(33.333% - 20px) !important; /* 3 items per row */
    }
}

@media (max-width: 900px) {
    .wp-block-verdure-team-member {
        width: calc(50% - 15px) !important; /* 2 items per row */
    }
}

@media (max-width: 600px) {
    .wp-block-verdure-team-member {
        width: 100% !important; /* 1 item per row */
    }
}

/* Editor-specific styles */
.wp-block-verdure-team-member .team-member-name[data-empty="true"]::before {
    content: attr(placeholder);
    color: #757575;
}

.wp-block-verdure-team-member .team-member-designation[data-empty="true"]::before {
    content: attr(placeholder);
    color: #757575;
}

.wp-block-verdure-team-member .team-member-name:focus,
.wp-block-verdure-team-member .team-member-designation:focus {
    outline: none;
}

/* Arrow Icon on Image */
.team-member-arrow {
    position: absolute;
    top: 45%;
    right: 18%;
    width: 50px;
    height: 50px;
}

.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-content:hover .team-member-image-buttons {
    z-index: 4;
}

.team-member-arrow-green {
    display: none;
    position: absolute;
    top: 45%;
    right: 18%;
    width: 50px;
    height: 50px;
}

.team-member-content:hover .team-member-arrow {
    display: none;
}

.team-member-content:hover .team-member-arrow-green {
    display: block;
    z-index: 3;
}
.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-image-wrapper::before {
    display: none;
}

.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-image-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* .block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-info {
    height: 200px;
    width: 200px;
} */


.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-info {
    position: unset;
}

.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-content:hover .team-member-image-wrapper:after {
    display: none;
}

.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-upload-button {
    width: 200px !important;
    height: 200px !important;
}

.block-editor-block-list__block.wp-block.is-selected.team-member.wp-block-verdure-team-member {
    outline: none !important;
}

.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-content:hover .team-member-image {
    height: 200px !important;
    width: 200px !important;
}


/* Popup design */
.wp-block-verdure-team-member .team-member-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.wp-block-verdure-team-member .team-member-popup.is-open {
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

.team-member-popup-content {
    background-color: white;
    /* border-radius: 10px; */
    width: 80%;
    max-width: 937px;
    position: relative;
    /* padding: 20px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.team-member-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #888;
}

.team-member-popup-inner {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 60px;
    align-items: center;
}

.team-member-popup-image {
    /* flex: 1; */
    padding-right: 20px;
    flex-basis: 33%;
}

.team-member-popup-image img {
    max-width: 100%;
    height: auto;
    /* border-radius: 5px; */
}

.team-member-popup-details {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 67%;
}

.team-member-popup-details h3 {
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .team-member-popup-inner {
        flex-direction: column;
    }

    .team-member-popup-image {
        padding-right: 0;
        margin-bottom: 15px;
    }
}

.team-member-description {
    color: #445766;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
}

.team-member-content:hover .team-member-description {
    color: #fff;
}

.block-editor-block-list__block.wp-block.wp-block-verdure-team-member .team-member-description {
    color: #445766;
}

.team-member-popup-details h3 {
    color: #15354D;
    margin: 0 0 10px 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.46px;
    text-align: left;
}

.team-member-popup-details p {
    color: #445766;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 32px 0;
    text-align: left;
}

